h1{
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 30px;
	margin-right: 40px;
	border-style: ridge;
	border-color: darkgrey;
}
h4{
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 30px;
	margin-right: 40px;
	border-style: ridge;
	border-color: darkgrey;
	border-width: 50px;
	background-color: olive;
}
h2{
	margin-bottom: 100px;
	margin-left: 30px;
	margin-right: 50px;
	border-style: dotted;
	border-color: darkgoldenrod;
	border-width: 10px;
	background-color: khaki;
}
h3{
	margin-top: 100px;
	margin-right: 700px;
	margin-left: 500px;
	padding-left: 200px;
	padding-right: 200px;
	border-style: dashed;
	border-color: cyan;
	border-width: 5px;
	background-color: aliceblue;
}
marquee
{
	margin-top: 100px;
	margin-right: 30px;
	background-color: darkolivegreen;
	background-image: url("flower2.jfif");
	background-repeat: no-repeat;
	height: 300px;
	width: 400px;
}